* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f6f6f6;
}
.container {
  max-width: 943px;
  margin: 0 auto;
  @media (max-width:942px){
    max-width: none;
    padding: 0 30px;
  }
}
.header {
  background-color: white;
  padding-top: 33px;
  padding-bottom: 105px;
  &__burger{
    display: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    @media (max-width:502px) {
      display: block;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    @media (max-width:502px) {
      display: none;
    }
  }
  a {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
    transition: all 0.3s;
  }
  a:hover {
    color: #070707;
  }
  a:focus {
    color: #070707;
  }
  &__hr {
    border: 1px solid #828282;
    size: 0.5px;
    margin-bottom: 40px;
  }
  &__h1 {
    font-weight: 900;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    @media (max-width:664px){
      margin-bottom: 15px;
    }
  }
  &__p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    @media (max-width:664px){
      margin-bottom: 15px;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    @media (max-width:664px) {
      display: block;
      align-items: center;
      text-align: center;
      justify-content: center;  
    }
  }
  &__lang {
    font-weight: 900;
    display: flex;
    gap: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    justify-content: center;
    p {
      transition: all 0.3s;
      font-weight: 900;
      font-size: 16px;
    }
    p:hover {
      color: black;
    }
  }
  &__lang:hover {
    cursor: pointer;
  }
  &__eng {
    color: black;
  }
}
h2 {
  color: #070707;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
}
.about-me {
  padding-top: 120px;
  padding-bottom: 107px;
  text-align: center;
  &__h2 {
    margin-bottom: 30px;
  }
  &__p1,
  &__p2 {
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin-bottom: 29px;
  }
  &__p2 {
    margin-bottom: 0;
    max-width: 425px;
  }
}
.skills {
  background-color: white;
  padding-top: 91px;
  padding-bottom: 110px;
  &__h2 {
    text-align: center;
    margin-bottom: 70px;
  }
  &__p {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin-bottom: 83px;
  }
  &__cards {
    display: flex;
    // gap: 90px;
    justify-content: space-between;
    @media (max-width: 700px) {
      display: block;
    }
  }
  &__card {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &__img {
    margin-bottom: 24px;
    max-width: 90px;
    max-height: 90px;
  }
  &__p1-figma {
    padding-bottom: 18px;
  }
  &__p1-vscode {
    padding-bottom: 1.5px;
  }
  &__p1 {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
    @media (max-width: 700px){
      margin-bottom: 20px;
    }
  }
  &__star {
    display: flex;
    gap: 9px;
    fill: #e5e5e5;
    justify-content: center;
    @media (max-width: 700px){
      margin-bottom: 60px;
    }
  }
  &__black-star {
    fill: #070707;
  }
}
.portfolio {
  padding-top: 112px;
  margin-bottom: 96px;
  align-items: center;
  text-align: center;
  &__h2 {
    margin-bottom: 50px;
  }
  &__img {
    max-width: 936px;
    margin-bottom: 20px;
    max-height: 510px;
    // border: 1px #070707 solid;
    border-radius: 10px;
    box-shadow: (0px 0px 30px rgba(0, 0, 0, 0.25));
  }
  &__1,
  &__2 {
    margin-bottom: 100px;
  }
  &__1,
  &__2,
  &__3{
    align-items: center;
    @media ( max-width:952px ) {
      display: block;
      img{
        max-width: 100%;
      }
      
    }
  }
  &__a {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    transition: all 0.3s;
  }
  &__a:hover {
    cursor: pointer;
  }
}
.contacts {
  padding-top: 115px;
  padding-bottom: 123px;
  background-color: white;
  text-align: center;
  &__h2 {
    margin-bottom: 25px;
  }
  &__p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-bottom: 30px;
  }
  &__button {
    border: 1px #070707 solid;
    border-radius: 50px;
    background-color: #070707;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding: 15px 30px;
    margin-bottom: 85px;
    transition: all 0.3s;
  }
  &__button:hover {
    background: transparent;
    color: #070707;
    cursor: pointer;
  }
  &__icon {
    display: flex;
    justify-content: center;
    gap: 85px;
    margin-bottom: 45px;
  }
  img {
    max-width: 40px;
    max-height: 40px;
  }
  &__p1 {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
  }
}
img{
  max-width: 100%;
}
